{% extends "dashboard/header.html" %}

{% block content %}

<div class="container mt-5 pt-4">

  <div class="row">
   {% include "dashboard/sidebar.html" %}
    <!-- Coluna da direita -->
    <div class="col-lg-12 col-xl-8">
      <section class="card card-modern">
        <header class="card-header">
          <h2 class="text-6">Tabela de Transações</h2>
        </header>
        <div class="card-body">
          <table class="table table-bordered table-striped mb-0" id="datatable-default">
            <thead>
              <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Data </th>
                <th>Valor </th>
                <th>Tipo da Transação</th>
              </tr>
            </thead>
            <tbody>
              {% if  extrato == None %}
                <tr>
                  <td colspan="6" class="text-center">Nenhuma transação feita</td>
                </tr>
              {% else %}
                {% for t in extrato %}
                  <tr>
                    <td><a href='/admin-secret/visualizar-compra/{{ t.id }}' class="text-primary"><strong>{{ t.id }}</strong></a></td>
                    <td><a href='/admin-secret/visualizar-compra/{{ t.id }}' class="text-primary"><strong>{{ t.user.username }}</strong></a></td>
                    <td>{{ t.date }}</td>
                    <td>{{ t.valor }}</td>
                    <td>{{t.tipo_transacao}}<td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </section>

          <section class="card card-modern">
            <header class="card-header">
              <h2 class="text-6">Tabela de Pedidos</h2>
            </header>
            <div class="card-body">
              <table class="table table-bordered table-striped mb-0 text-center" id="datatable-default">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Valor</th>
                    <th>Ação</th>
                  </tr>
                </thead>
                <tbody>
                  {% if not pedidos %}
                    <tr>
                      <td colspan="6" class="text-center">Nenhum Pedido feito</td>
                    </tr>
                  {% else %}
                    {% for p in pedidos %}
                      <tr>
                        <td><a href="{% url 'pedidos' p.id %}" class="text-primary"><strong>Order n° {{ p.id }}</strong></a></td>
                        {% comment %} <td><a href='/admin-secret/visualizar-compra/{{ t.id }}' class="text-primary"><strong{{p.status}}></strong></a></td> {% endcomment %}
                        {% comment %} <td>{{ t.date }}</td> {% endcomment %}
                        {% comment %} <td>{{ t.credits_exchanged }}</td> {% endcomment %}

                        {% if p.status_pedido == "Pendente" %}
                        <td><span class="ecommerce-status pending ">{{p.status_pedido}}</span></td>
                        <td><span class="text-dark"> {{p.carrinho.total}} </span></td>
                        <td><a href={%url 'confirmarEntrega' p.id%} class="btn btn-success btn-sm " > Confirmar Entrega </a></td>
                        <td><a href="#" class="btn  btn-sm btn-danger">Cancelar</a></td>

                        {%elif p.status_pedidos == "Recusada"%}
                        <td><span class="btn-danger">{{p.status_pedido}}</span></td>
                        <td><span class="text-dark"> {{p.carrinho.total}} </span></td>

                        {%elif p.status_pedido == "Concluida"%}
                          <td><span class="ecommerce-status completed">{{p.status_pedido}}</span></td>
                          <td><span class="text-dark"> {{p.carrinho.total}} </span></td>


                        {%else %}
                        <td><span class="ecommerce-status "> ----- </span></td>
                        <td><span class="text-white"> ----- </span></td>


                        {% endif %}

                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
          <!-- Paginação e informações -->
          <hr class="solid mt-5 opacity-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-auto">
              <div class="results-info-wrapper"></div>
            </div>
            <div class="col-auto">
              <div class="pagination-wrapper"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
