


<div class="col-lg-9 col-xl-3 mb-2">
    <div class="card card-modern">
      <div class="card-body p-0">
        <div class="widget-user-info">
          <div class="widget-user-info-header bg-primary text-center">
            <h2 class="font-weight-bold text-white">Olá, {{request.user.username}}</h2>
            <p class="pb-4 text-white">Usuário do Gameniak Marketplace</p>
            <div class="widget-user-acrostic bg-primary">
              {% if not customuser.imagem  %}
              <span> sem foto </span>
              {% else %}
              <img src={{customuser.imagem}}/>
              {% endif %}
            </div>
          </div>
          <div class="widget-user-info-body">
            <div class="row text-center">
              <div class="col-6">
                <strong class="text-color-dark text-5">R$ {{creditos.valor}}</strong>
                <h3 class="text-4-1">Saldo Atual</h3>
                <a href="{% url 'creditos' %}" class="btn btn-success font-weight-semibold rounded " style="width:7vw; height:6vh; font-size:13px; padding:6px; margin-top:2vh">Adicionar </a>

              </div>
              <div class="col-6 mt-2 pt-5">
                <strong class="text-color-dark text-5">{{produtos_servicos}}</strong>
                <h3 class="text-4-1">Anuncios Publicados</h3>
                <span class="text-3">{{anuncios.count}}<span>
              </div>
            </div>
            <div class="row mt-3 text-center">
              <div class="col">
                <a href="{% url 'mudarInfo' %}" class="btn btn-warning shadow-none font-weight-semibold rounded">Configurações</a>
              </div>
              <div class="col">
                <a href="{% url 'home' %}" class="btn btn-primary shadow-none font-weight-semibold rounded">Gameniak</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Estatísticas de Vendas -->
    {% comment %} <div class="card card-modern mt-4">
      <div class="card-body py-4">
        <div class="row align-items-center text-center">
          <div class="col-6">
            <h3 class="text-4-1 my-0">Serviços Vendidos</h3>
            <strong class="text-6 text-color-dark">{{produtos_vendidos}}</strong>
          </div>
          <div class="col-6 border-left">
            <h3 class="text-4-1 text-color-success line-height-2 my-0">Último Mês</h3>
            <span>Produtos Vendidos &uarr;</span>
          </div>
        </div>
      </div>
    </div> {% endcomment %}

    <div class="card card-modern mt-4">
      <div class="card-body py-4">
        <div class="row align-items-center text-center">
          <div class="col-6">
            <h3 class="text-4-1 my-0">Valor Vendas Totais</h3>
            {% if  total_vendas == None %}
            <strong class="text-6 text-color-dark">0</strong>
            {% else %}
            <strong class="text-6 text-color-dark">{{total_vendas}}</strong>

            {% endif %}
          </div>
          <div class="col-6 border-left">
            <h3 class="text-4-1 text-color-success line-height-2 my-0">Todos os Dias</h3>
            <span>Vendas Concluídas &uarr;</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-modern mt-4">
      <div class="card-body py-4">
        <div class="row align-items-center text-center">
          <div class="col">
            <h2 class="text-2-1 my-0">Vendas</h2>
            <strong class="text-6 text-color-dark"> <a href="{% url "minhasVendas" %}"> Minhas Vendas </a></strong>
          </div>
        </div>
      </div>
    </div>
  </div>

{% block content %}

  
  
  {% endblock %}