	<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Checkout</li>
					</ol>
				</div><!-- End .container -->
			</nav>

			<div class="container">
				<ul class="checkout-progress-bar">
					<li class="active">
						<span>Suas Informações</span>
					</li>
					<li>
						<span>Pagamento</span>
					</li>
				</ul>
				<div class="row">
					<div class="col-lg-8">
						<ul class="checkout-steps">
							<li>
								<h2 class="step-title">Informações de cobrança</h2>

							

								<form action="/carrinho-comprar" method="POST">
									<div class="form-group required-field">
										<label>Primeiro Nome</label>
										<input type="text" name="desfirstname" maxlength="10" placeholder="ex: André" value="{$register_values.desfirstname}" class="form-control" required>
									</div><!-- End .form-group -->

									<div class="form-group required-field">
										<label>Último Nome</label>
										<input type="text" name="dessecoundname" maxlength="10" placeholder="ex: Silva" value="{$register_values.dessecoundname}" class="form-control" required>
									</div><!-- End .form-group -->

								

						
									<div class="form-group required-field">
										<label>Seu telefone</label>
										<input type="text" name="desphonenumber" minlength="11" onkeypress="return onlyNumberKey(event)" value="{$register_values.desphonenumber}" class="form-control" placeholder="ex: 00 000000000" required>
									</div><!-- End .form-group -->


									<div class="form-group required-field">
										<label>Email para contato</label>
										<input type="email" name="desemail" placeholder="ex: nome@nome.com" class="form-control" value="{$register_values.desemail}" required>
									</div><!-- End .form-group -->


									<div class="form-group">
										<label>Estado</label>
										<div class="select-custom">
											<select name="desstate" class="form-control">
												<option value="" selected>Selecione um estado</option>
												{loop="$state"}
												<option {if="$register_values.desstate == $value.desstate"}selected{/if} value="{$value.desstate}">{$value.desstate}</option>									
												{/loop}
											</select>
										</div><!-- End .select-custom -->
									</div><!-- End .form-group -->

								
							
							</li>



						
						</ul>
					</div><!-- End .col-lg-8 -->









									<div class="col-lg-4">
										<div class="order-summary">
											<h3>Resumo da compra</h3>

											<h4>
												<a data-toggle="collapse" href="#order-cart-section" class="collapsed" role="button" aria-expanded="false" aria-controls="order-cart-section">{$CartCount} produtos no carrinho</a>
											</h4>

											<div class="collapse" id="order-cart-section">
												<table class="table table-mini-cart">
													<tbody>
											
														{loop="$Item"}
														<tr>
															<td class="product-col">
																<figure class="product-image-container">
																	<a href="/produto" class="product-image">
																		<img src='/{function="getArrayFromProducts($value[0].desimages)"}' alt="product">
																	</a>
																</figure>
																<div>
																	<h2 class="product-title">
																		<a href="/produto">{$value[0].desproduct}</a>
																	</h2>

																	<span class="product-qty">Qtd: 1</span>
																</div>
															</td>
															<td class="price-col">R${function="ConvertVirgulaToPonto($value[0].vlprice)"}</td>
														</tr>
														{/loop}
														
													</tbody>	
												</table>
											</div><!-- End #order-cart-section -->
										</div><!-- End .order-summary -->
									</div><!-- End .col-lg-4 -->
								</div><!-- End .row -->



				<div class="row">
					<div class="col-lg-8">
						<div class="checkout-steps-action">
							<button type="submit" class="btn btn-primary float-left">AVANÇAR</a>
						</div><!-- End .checkout-steps-action -->
					</div><!-- End .col-lg-8 -->
				</div><!-- End .row -->
			</div><!-- End .container -->

		</form>


			<div class="mb-6"></div><!-- margin -->
		</main><!-- End .main -->
