{% extends "index/header.html" %}
{% load static %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div class="cart-table-container">

				<p class="text-danger" >{{error_message}} </p>

				<h4>  Faça recarga de seus creditos <h4>


					<p> </p>
					<br>


					<div class="products-slider custom-products owl-carousel owl-theme nav-outer show-nav-hover nav-image-center" data-owl-options="{
						'dots': false,
						'nav': true,
						'responsive': {
							'940': {
								'items': 3
							}
						}
					}">

							<div class="product-default">
								<div class="row">
									<a href="#" >Cartao Credito
									</a>
									<a href="#" >Pix
									</a>
								</div>
									
									
							</div>
							
							<div class="product-default">
							</div>
								
								
							
						</div>


			</div><!-- End .cart-table-container -->
		</div>
	</div>
</div>


{% endblock  %}

