<!DOCTYPE  html >
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Gameniak Marketplace</title>

	<meta name="keywords" content="HTML5 Template" />
	<meta name="description" content="Gameniak Marketplace">
	<meta name="author" content="SW-THEMES">

	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="/res/UserDashboard/assets/LOGOICON.png">


	<script type="text/javascript">
		WebFontConfig = {
			google: { families: [ 'Open+Sans:300,400,600,700,800','Poppins:300,400,500,600,700,800' ] }
		};
		(function(d) {
			var wf = d.createElement('script'), s = d.scripts[0];
			wf.src = 'assets/js/webfont.js';
			wf.async = true;
			s.parentNode.insertBefore(wf, s);
		})(document);
	</script>

	<!-- Plugins CSS File -->
<link rel="stylesheet" href="/res/UserDashboard/assets/css/bootstrap.min.css">

	<!-- Main CSS File -->
	<link rel="stylesheet" href="/res/UserDashboard/assets/css/style-dark.css">
	<link rel="stylesheet" href="/res/UserDashboard/assets/css/custom.css">


	<link rel="stylesheet" type="text/css" href="/res/UserDashboard/assets/vendor/fontawesome-free/css/all.min.css">
</head>





<body>
	<div class="page-wrapper">
	








		

		
		<header class="header">
			<div class="header-top">
				<div class="container">
					<div class="header-left d-none d-sm-block">
						<p class="top-message text-uppercase">Gameniak Marketplace - Compras e Vendas</p>
					</div><!-- End .header-left -->

					<div class="header-right header-dropdowns ml-0 ml-sm-auto w-sm-100">
						<div class="header-dropdown dropdown-expanded d-none d-lg-block">
							<a href="#">Links</a>
							<div class="header-menu">
								<!-- <ul>
									<li><a href="my-account.html">Sobre nós </a></li>
									<li><a href="about.html">Nossa equipe</a></li>						
									<li><a href="blog.html">Blog</a></li>
									<li><a href="contact.html">Fale Conosco</a></li>
									<li><a href="#">Perguntas Frequentes</a></li>
								</ul> -->
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropown -->

						<span class="separator"></span>

						<div class="header-dropdown ">
							<a href="#">BRL</a>
							<div class="header-menu">
								<ul>
									<li><a href="/">BRL</a></li>
									<!-- <li><a href="#">USD</a></li> -->
								</ul>
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropown -->

						<div class="header-dropdown mr-auto mr-sm-3 mr-md-0">
							<a href="#"><img src="/res/UserDashboard/assets/images/flags/br.png" alt="England flag">PT-BR</a>
							<div class="header-menu">
								<ul>
									<li><a href="/"><img src="/res/UserDashboard/assets/images/flags/br.png" alt="England flag">PT-BR</a>
									<!-- <li><a href="#"><img src="/res/UserDashboard/assets/images/flags/fr.png" alt="France flag">FRA</a></li> -->
								</ul>
							</div><!-- End .header-menu -->
						</div><!-- End .header-dropown -->

						<span class="separator"></span>

						<div class="social-icons">
							<a href="#" class="social-icon social-instagram icon-instagram" target="_blank"></a>
							<a href="#" class="social-icon social-twitter icon-twitter" target="_blank"></a>
							<a href="#" class="social-icon social-facebook icon-facebook" target="_blank"></a>
						</div><!-- End .social-icons -->
					</div><!-- End .header-right -->
				</div><!-- End .container -->
			</div><!-- End .header-top -->

			<div class="header-middle">
				
				<div class="container">
				
				
					<div class="header-left col-lg-2 w-auto pl-0">
						<button class="mobile-menu-toggler text-primary mr-2" type="button">
							<i class="icon-menu"></i>
						</button>
						<a href="/" class="logo">
							<img src="/res/UserDashboard/assets/logo.png" alt="Porto Logo">
						</a>
					</div><!-- End .header-left -->

					<div class="header-right w-lg-max">
					
					
					
					
						<div class="header-icon header-icon header-search header-search-inline header-search-category w-lg-max text-right">
					
							<a href="#" class="search-toggle" role="button"><i class="icon-search-3"></i></a>
						

							<form action="/produtos" method="get" novalidate>
								<div class="header-search-wrapper">
									
									<input type="search" class="form-control" name="procurar" placeholder="Pesquisar serviço..." required>
									
									<div class="select-custom">
										<select id="cat" name="categoria">
										
											<option value="0" selected>Mostrar Tudo</option>
											{loop="$categories"}
											<option value="{$value.idcat}">{$value.descat}</option>
											{/loop}
											
										</select>
									</div><!-- End .select-custom -->
									<button class="btn icon-search-3 p-0" type="submit"></button>
								</div><!-- End .header-search-wrapper -->
							</form>

			
						</div>
			







						{if="$isLogged == true"}
						<!-- ÍCONE DO LOGIN -->
						<a href="/dashboard" title="ir para a dashboard" class="header-icon "><i class="fas fa-tools"></i></a>
						<!-- ÍCONE DO LOGIN -->
						{else}
						<a href="/" title="Conectar-se" class="header-icon login-link"><i class="icon-user-2"></i></a>
						{/if}



						<!-- ÍCONE DOS FAVORITOS -->
						<a href="/ativar-modo-claro" title="Ativar modo claro" class="header-icon"><i class="far fa-lightbulb"></i></a>
						<!-- ÍCONE DOS FAVORITOS -->






						<!-- ======================== -->
							   <!-- CARRINHO -->
						<!-- ======================== -->
							
							<div class="dropdown cart-dropdown header-icon">
								<a href="#" class="dropdown-toggle dropdown-arrow" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
									<i class="icon-shopping-cart"></i>
									<span class="cart-count badge-circle">{$CartCount}</span>
								</a>


								<div class="dropdown-menu">
									<div class="dropdownmenu-wrapper">
										<div class="dropdown-cart-header">
											
											<span>{$CartCount} Itens</span>
											

											<a href="/limpar-carrinho" class="float-right">Limpar Carrinho</a>
										</div><!-- End .dropdown-cart-header -->

										<div class="dropdown-cart-products">
											
										
								

											{loop="$Item"}
											 <div class="product">
												<div class="product-details">
													<h4 class="product-title">
														<a href='/servico/visualizar/{function="setHash($value[0].idproduct)"}' title="{$value[0].desproduct}">{$value[0].desproduct}</a>
													</h4>

													<span class="cart-product-info">
														<span class="cart-product-qty">1</span>
														x R${function="ConvertVirgulaToPonto($value[0].vlprice)"}
													</span>
												</div>

												<figure class="product-image-container">
													<a href='/servico/visualizar/{function="setHash($value[0].idproduct)"}' class="product-image">
														<img src='/{function="getArrayFromProducts($value[0].desimages)"}'  class="img-product-cart" >
													</a>
													<a href='/remover-carrinho/{function="setHash($value[0].idproduct)"}' class="btn-remove icon-cancel" title="Remover Produto"></a>
												</figure>
											</div> 
											{/loop}

							


										</div><!-- End .cart-product -->

										<div class="dropdown-cart-total">
											<span>Total</span>

											<span class="cart-total-price float-right">R${function="ConvertVirgulaToPonto($CartPrice)"}</span>
										</div><!-- End .dropdown-cart-total -->

										<div class="dropdown-cart-action">
											<a href="/carrinho" class="btn btn-info btn-block font-weight-bold">Visualizar Carrinho</a>
											
										</div><!-- End .dropdown-cart-total -->
									</div><!-- End .dropdownmenu-wrapper -->
								</div><!-- End .dropdown-menu -->
							</div><!-- End .dropdown -->


						<!-- ======================== -->
							   <!-- CARRINHO -->
						<!-- ======================== -->







					</div><!-- End .header-right -->
				</div><!-- End .container -->
			</div><!-- End .header-middle -->





			<div class="header-bottom sticky-header d-none d-lg-block  ">
				<div class="container">
					
					<nav class="main-nav w-100">
						<ul class="menu">
							<li class="active">
								<a href="/">INÍCIO</a>
							</li>
						
							<li><a href="/lista-produtos">PRODUTOS</a></li>
							{if="$isLogged == true"}
							<li><a href="/dashboard">Visitar Dashboard</a></li>
							<li><a href="/logout">Desconectar-se</a></li>
							{else}
							<li><a href="/logar">CONECTAR-SE</a></li>
							{/if}
					
							<!-- 
							<li><a href="/carrinho">Mostrar carrinho</a></li>		 
							<li><a href="/">COMO FUNCIONA?</a></li> 						
							<li><a href="/">SOBRE NÓS</a></li>
							<li><a href="/">TERMOS DE USO</a></li> 
						    -->
				
						</ul>
					</nav>
				</div><!-- End .container -->
			</div><!-- End .header-bottom -->
		</header><!-- End .header -->

