
{% extends "index/header.html" %}

{% block content %}
  <main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Logar</li>
					</ol>
				</div><!-- End .container -->
			</nav>

			<div class="container">
				

				
{% comment %} 		
			   

				<div class="alert alert-success  mb-1 mt-1 text-center"  >
				
				<strong class="text-dark">{$sucess}</strong>
				</div>
				
			
		   
				<div class="alert alert-danger alert-dismissible fade show" role="alert">					
					<button type="button" class="mfp-close" data-dismiss="alert" aria-label="Close"></button>	
				</div> {% endcomment %}

        <div class="row">
				
		
			
			
          <div class="col-md-6">

	
	
						<div class="heading">
							<h2 class="title">Logar </h2>
							<p>Já possui uma conta? Conectar-se aqui!</p>
						</div><!-- End .heading -->




						<form action="{% url "login" %}" method="post" novalidate>
						{% csrf_token %}
						
							<input id="email" name="email" type="email" name="deslogin" class="form-control" placeholder="Seu Email" required>
							<input id="password" name="password" type="password" name="despassword" class="form-control" placeholder="Sua Senha" required>
							 <p class="text-danger"> {{error_messagem}} </p>
							<div class="form-footer">
								<button type="submit" class="btn btn-primary">Conectar-se</button>
								<a href="/recuperar-senha" class="forget-pass">Esqueceu a senha?</a>
							</div><!-- End .form-footer -->


						</form>



					</div><!-- End .col-md-6 -->
 
          <div class="col-md-6">
						<div class="heading">
							<h2 class="title">Registrar Conta</h2>
							<p>Se você não tiver uma conta, se registre em nosso site!</p>
							<h3 class="text-danger">Lembrando que este site e destinado para maiores de 18 Anos</p>

						</div><!-- End .heading -->

					
					
						<form action="{% url "cadastro" %}" method="post" novalidate>
							{% csrf_token %}

							
						

							<input type="text" id="nome"class="form-control" name="nome" placeholder="Insira o seu nome completo" required>
							<input type="text" id="username" class="form-control" name="username" placeholder="Insira um username" required>
							<input type="date" id="dataNasc" class="form-control" name="dataNasc" placeholder="Insira sua data de Nascimento" required>
							<input type="email" id="email" class="form-control" name="email"  placeholder="Insira o seu email" required>
							<input type="email" class="form-control" name="deslogin_confirm" placeholder="Repita o seu email" required>
							<input type="password" id="senha" class="form-control"  name="senha" placeholder="Insira sua senha" required>
							<input type="password" id="senha2" class="form-control"  name="despassword2" placeholder="Repita sua senha" required>
						
							<p id="mensagemErro" style="color: red; display: none;">Senha não confere</p>
						
							<div class="checkbox mb-3">
								<label>
								  <input type="checkbox" id="meuCheckbox" name="interms" value="1" target="_blank"> Li e Aceito os termos de uso
								</label>
							  </div>

							  
					
							<div class="form-footer">
								<button type="submit" id="meuBotao" disabled class="btn btn-primary">CADASTRAR-SE</button>
							
							</div><!-- End .form-footer -->
						</form>


						

					</div><!-- End .col-md-6 -->



				</div><!-- End .row -->
			</div><!-- End .container -->

			<div class="mb-5"></div><!-- margin -->
		</main><!-- End .main -->


		<script>

			document.addEventListener("DOMContentLoaded", function() {
				var checkbox = document.getElementById('meuCheckbox');
				var botao = document.getElementById('meuBotao');
			
				// Função para verificar o estado do checkbox
				checkbox.addEventListener('change', function() {
					if (checkbox.checked) {
						botao.removeAttribute('disabled');
					} else {
						botao.setAttribute('disabled', 'disabled');
					}
				});
			});

			document.addEventListener("DOMContentLoaded", function() {
				var senha = document.getElementById('senha');
				var confirmarSenha = document.getElementById('senha2');
				var mensagemErro = document.getElementById('mensagemErro');
				var botaoEnviar = document.getElementById('enviar');
			
				// Função para verificar se as senhas coincidem
				function verificarSenhas() {
					if (senha.value === confirmarSenha.value && senha.value !== "") {
						mensagemErro.style.display = 'none';
						botaoEnviar.removeAttribute('disabled');
					} else {
						mensagemErro.style.display = 'block';
						botaoEnviar.setAttribute('disabled', 'disabled');
					}
				}
			
				// Verifica as senhas toda vez que o usuário digita em um dos campos
				senha.addEventListener('input', verificarSenhas);
				confirmarSenha.addEventListener('input', verificarSenhas);
			});
	</script>			

		{% endblock  %}