{% extends "index/header.html" %}

{% block content %}
<main class="main">
			<div class="container">
				<nav aria-label="breadcrumb" class="breadcrumb-nav">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url "home" %}"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item"><a href="{% url "categoria" produto.categoria %}">{{produto.categoria}}</a></li>
					</ol>
				</nav>
				<div class="product-single-container product-single-default">
					<div class="row">
						<div class="col-md-5 product-single-gallery">
							<div class="product-slider-container">
								<div class="product-single-carousel owl-carousel owl-theme">
									<div class="product-item">
										<img class="product-single-image img-product-pagina" src="{{produto.imagem.url}}"   data-zoom-image="{{produto.imagem.url}}"/>
									</div>
								</div>
								<!-- End .product-single-carousel -->
								<span class="prod-full-screen">
									<i class="icon-plus"></i>
								</span>
							</div>
							<div class="prod-thumbnail owl-dots" id='carousel-custom-dots'>
								<div class="owl-dot">
									<img src="{{produto.imagem.url}}"  style="width:4vw; height:8vh;" class="img-product-pagina-icon"/>
								</div>
							
							</div>
						</div><!-- End .product-single-gallery -->

						<div class="col-md-7 product-single-details">
							<h1 class="product-title">{{produto.nome}}</h1>

							<div class="ratings-container">
									{{produto.avaliacao_anuncio}}
								{% if produto.avaliacao_anuncio == '1' %}
								<div class="rating-stars">
									<a class="star-1 active" href="#">1</a>
									<a class="star-2" href="#">2</a>
									<a class="star-3" href="#">3</a>
									<a class="star-4" href="#">4</a>
									<a class="star-5" href="#">5</a>
								</div>
								{% elif produto.avaliacao_anuncio == '2' %}
									<div class="rating-stars">
										<a class="star-1" href="#">1</a>
										<a class="star-2 active" href="#">2</a>
										<a class="star-3" href="#">3</a>
										<a class="star-4" href="#">4</a>
										<a class="star-5" href="#">5</a>
									</div>
								{% elif produto.avaliacao_anuncio == '3' %}
									<div class="rating-stars">
										<a class="star-1" href="#">1</a>
										<a class="star-2" href="#">2</a>
										<a class="star-3 active" href="#">3</a>
										<a class="star-4" href="#">4</a>
										<a class="star-5" href="#">5</a>
									</div>
									{% elif produto.avaliacao_anuncio == '4' %}
									<div class="rating-stars">
										<a class="star-1" href="#">1</a>
										<a class="star-2" href="#">2</a>
										<a class="star-3 active" href="#">3</a>
										<a class="star-4 active" href="#">4</a>
										<a class="star-5" href="#">5</a>
									</div>
									{% elif produto.avaliacao_anuncio == '5' %}
									<div class="rating-stars">
										<a class="star-1" href="#">1</a>
										<a class="star-2" href="#">2</a>
										<a class="star-3 active" href="#">3</a>
										<a class="star-4" href="#">4</a>
										<a class="star-5 active" href="#">5</a>
									</div>
									{% else %}
									<div class="rating-stars">
										<a class="star-1" href="#">1</a>
										<a class="star-2" href="#">2</a>
										<a class="star-3" href="#">3</a>
										<a class="star-4" href="#">4</a>
										<a class="star-5" href="#">5</a>

									</div>
									{% endif %}

								<a href="#" class="rating-link">( {{produto.avaliacao}} )</a>
								<br>
								<br>

								<a href="#" class="">Visualizações:  {{produto.visualizacao}} </a>

							</div><!-- End .ratings-container -->

							<hr class="short-divider">

							<div class="price-box">
								<span class="product-price">R$ {{produto.valor}}</span>
							</div><!-- End .price-box -->

							<div class="">
								<span class="product-price">Prazo para entrega: {{produto.data_prazo}} </span>
							</div><!-- End .price-box -->

							<div class="product-desc">
								<p>
									Descrição:
									{{produto.bv_desc}}
								
								</p>
							</div><!-- End .product-desc -->
<!-- 
							<div class="product-filters-container">
								<div class="product-single-filter mb-2">
									<label>Sizes:</label>
									<ul class="config-size-list">
										<li class="active"><a href="#">S</a></li>
										<li><a href="#">M</a></li>
										<li><a href="#">L</a></li>
										<li><a href="#">X</a></li>
									</ul>
								</div>
							</div> -->

							<hr class="divider">

							
								<a href='{% url "addCarrinho" produto.id %}' 
								class="btn btn-dark add-cart icon-shopping-cart" title="Add to Cart">ADICIONAR AO CARRINHO</a>

								{% if contagem >= 1 %}
								<hr class="divider mb-1">


								<a href='{% url "carrinho" %}' 
								class="btn btn-primary add-cart " title="Add to Cart">IR PARA O CARRINHO</a>

							{%else %}

								{% endif %}
							</div><!-- End .product-action -->


						
						</div><!-- End .product-single-details -->
					</div><!-- End .row -->
				</div><!-- End .product-single-container -->

				<div class="product-single-tabs">
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="product-tab-desc" data-toggle="tab" href="#product-desc-content" role="tab" aria-controls="product-desc-content" aria-selected="true">DESCRIÇÃO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="product-tab-more-info" data-toggle="tab" href="#product-more-info-content" role="tab" aria-controls="product-more-info-content" aria-selected="false">MAIS INFORMAÇÕES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="product-tab-tags" data-toggle="tab" href="#product-tags-content" role="tab" aria-controls="product-tags-content" aria-selected="false">TAGS</a>
						</li>
						{% if avaliacao == "habilitado" %}
						 <li class="nav-item">
							<a class="nav-link" id="product-tab-reviews" data-toggle="tab" href="#product-reviews-content" role="tab" aria-controls="product-reviews-content" aria-selected="false">AVALIAÇÕES ({{comentarios.count}})</a>
						</li> 
						{% else %}
					
						{% endif %}
					</ul>
					<div class="tab-content">
						<div class="tab-pane fade show active" id="product-desc-content" role="tabpanel" aria-labelledby="product-tab-desc">
							<div class="product-desc-content">
								<p>{{produto.descricao}}</p>
								
								
							</div><!-- End .product-desc-content -->
						</div><!-- End .tab-pane -->

						<div class="tab-pane fade fade" id="product-more-info-content" role="tabpanel" aria-labelledby="product-tab-more-info">
							<div class="product-desc-content">
								{% if not user_produto.imagem %}
								<p> SEM IMAGEM <P>
								{% else %}
								<img src='{{user_produto.imagem}}'>

								{% endif %}
								<p><strong> Publicado por </strong> {{user_produto.user.username}}</p>
								<p><strong> Membro desde  </strong> {{user_produto.confiabilidade.data_membro}}</p>
								<p><strong> Ultimo Acesso  </strong>{{user_produto.confiabilidade.ultimo_acesso}}</p>
								<p><strong> Nivel de Confiabilidade </strong> {{user_produto.confiabilidade.nivel_confiavel}}</p>

							</div><!-- End .product-desc-content -->
						</div><!-- End .tab-pane -->

						<div class="tab-pane fade" id="product-tags-content" role="tabpanel" aria-labelledby="product-tab-tags">
							<div class="product-desc-content">
								<p>{{produto.tags}}</p>
							</div><!-- End .product-desc-content -->
						</div><!-- End .tab-pane -->

						<div class="tab-pane fade" id="product-reviews-content" role="tabpanel" aria-labelledby="product-tab-reviews">
							<div class="product-reviews-content">
								<div class="row">
									<div class="col-xl-7">
										<h2 class="reviews-title">Comentarios </h2>

										<ol class="comment-list">

											{% if comentarios  %}
											{% for c in comentarios  %}

											<li class="comment-container">
												
												<div class="comment-avatar">
													{% if c.customUser.imagem  %}
													<img src="{{ c.customUser.imagem.url }}" width="65" height="65" alt="avatar"/>
													{% else %}
														<img src="" width="65" height="65" alt="avatar"/>
													{% endif %}
												</div><!-- End .comment-avatar-->

												<div class="comment-box">
													<div class="ratings-container">
														
															{{c.avaliacao}}
															{% if c.avaliacao == 1 %}
														<div class="rating-stars">
															<a class="star-1 active" href="#">1</a>
															<a class="star-2" href="#">2</a>
															<a class="star-3" href="#">3</a>
															<a class="star-4" href="#">4</a>
															<a class="star-5" href="#">5</a>
														</div>

															{% elif c.avaliacao == 2 %} 
														<div class="rating-stars">
															<a class="star-1 " href="#">1</a>
															<a class="star-2 active" href="#">2</a>
															<a class="star-3" href="#">3</a>
															<a class="star-4" href="#">4</a>
															<a class="star-5" href="#">5</a>
														</div>

															{% elif c.avaliacao == 3%} 
														<div class="rating-stars">
															<a class="star-1 " href="#">1</a>
															<a class="star-2" href="#">2</a>
															<a class="star-3 active" href="#">3</a>
															<a class="star-4" href="#">4</a>
															<a class="star-5" href="#">5</a>
														</div>

															{% elif c.avaliacao == 4 %} 
														<div class="rating-stars">
															<a class="star-1 " href="#">1</a>
															<a class="star-2" href="#">2</a>
															<a class="star-3" href="#">3</a>
															<a class="star-4 active" href="#">4</a>
															<a class="star-5" href="#">5</a>
														</div>

															{% elif c.avaliacao == 5 %} 
														<div class="rating-stars">
															<a class="star-1 " href="#">1</a>
															<a class="star-2" href="#">2</a>
															<a class="star-3" href="#">3</a>
															<a class="star-4" href="#">4</a>
															<a class="star-5 active" href="#">5</a>
														</div>

															{% else %}
															<div class="rating-stars">
																<a class="star-1 " href="#">1</a>
																<a class="star-2" href="#">2</a>
																<a class="star-3" href="#">3</a>
																<a class="star-4" href="#">4</a>
																<a class="star-5 active" href="#">5</a>
															</div>
															
															{% endif %}
													</div><!-- End .ratings-container -->

													<div class="comment-info mb-1">
														<h4 class="avatar-name">{{c.user.name}}</h4> - <span class="comment-date">{{c.data_create}}</span>
													</div><!-- End .comment-info -->

													<div class="comment-text">
														<p>{{c.comentario}}</p>
													</div><!-- End .comment-text -->
												</div><!-- End .comment-box -->
											</li><!-- comment-container -->
											{% endfor %}

											{% else %}

											
											<li class="comment-container">
												
								

												<div class="comment-box">
													
													<div class="comment-info mb-1">
														<h4 class="text">Nenhum comentario encontrado </h4> 
													</div><!-- End .comment-info -->
												</div><!-- End .comment-box -->
											</li><!-- comment-cont
											{% endif %}

										
										</ol><!-- End .comment-list -->
									</div>

									<div class="col-xl-5">
										<div class="add-product-review">
												<h3 class="review-title">ADICIONE UMA AVALIAÇÃO</h3>

												{% if request.user.is_authenticated %}
												<form method="POST" action='{%url "addComentario" produto.id%}' >
													{% csrf_token %}

												<div class="ratings-container">

													<div class="rating-stars">
														<a id='star-1' class="star-1 ">1</a>
														<a id='star-2'class="star-2 " >2</a>
														<a id='star-3'class="star-3 " >3</a>
														<a id='star-4'class="star-4 " >4</a>
														<a id='star-5'class="star-5 " >5</a>
													</div>
											<input type="hidden" name="inputStar" id="inputStar" value="0">

												<div class="form-group">
													<label>Como foi o serviço?</label>
													<input  type="text" name="comentario"  class="form-control" size="100" required > 
												</div><!-- End .form-group -->


												<div class="row">
													<div class="col-md-6 col-xl-12">
														<div class="form-group">
															<input type="text" value="{{produto.nome}}" class="form-control form-control-sm" style="display: none" >
														</div><!-- End .form-group -->
													</div>
												</div>

												
													<div class="row">
														<div class="col-md-6 col-xl-12">
															<div class="form-group">
																<input type="text" value="{{produto.usuario}}" class="form-control form-control-sm" style="display: none" >
															</div><!-- End .form-group -->
														</div>
	

												<button type="submit" class="btn btn-dark ls-n-13"> Enviar </button>

												</form>
												{% else %}
													<div class="col-md-6 col-xl-12">
														<div class="form-group">
															<label>Faça login para avaliar</label>
														</div><!-- End .form-group -->
													</div>
													<a href="{%url 'login'%}" class="btn btn-primary ls-n-15" > Entrar </a>
												</div>
													
												{% endif %}
										</div><!-- End .add-product-review -->
									</div>
								</div>
							</div><!-- End .product-reviews-content -->
						</div><!-- End .tab-pane -->
					</div><!-- End .tab-content -->
				</div><!-- End .product-single-tabs -->


				<div class="products-section pt-0">
					<h2 class="section-title">Produtos Relacionados</h2>
					<div class="products-slider owl-carousel owl-theme dots-top">
					
						{% for p in produtosRelacionados  %}
						<div class="product-default inner-quickview inner-icon">
							<figure>
								<a href='{% url "produto" p.id %}'>
									<img src='{{p.imagem.url}}' class="img-product-related "  style="width:30vw"  alt="product">
								</a>
							
								<div class="btn-icon-group">
									<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
								</div>
								<a href='{% url "produto" p.id %}' class="btn-quickview" title="Quick View">VISUALIZAR</a> 
							</figure>
							<div class="product-details">
								<div class="category-wrap">
									<div class="category-list">
										<a href="{% url "lista_categorias" p.categoria %}" class="product-category">
											{{p.categoria}}
										</a>

									</div>
								</div>
								<h3 class="product-title">
									<a href='{% url "produto" p.id %}}'>{{p.valor}}</a>
								</h3>
								<div class="ratings-container">
									<div class="product-ratings">
										<span class="ratings" style="width:100%"></span><!-- End .ratings -->
										<span class="tooltiptext tooltip-top"></span>
									</div><!-- End .product-ratings -->
								</div><!-- End .ratings-container -->
								<div class="price-box">
								
									<span class="product-price"><b>R$ {{p.valor}}</b></span>
								</div><!-- End .price-box -->
							</div><!-- End .product-details -->
						</div>
						{% endfor %}













						
						</div>
					</div><!-- End .products-slider -->
				</div><!-- End .products-section -->
			</div><!-- End .container -->
		</main><!-- End .main -->

<script>
		star_1 =	document.getElementById('star-1')
		star_2 =	document.getElementById('star-2')
		star_3 =	document.getElementById('star-3')
		star_4 =	document.getElementById('star-4')
		star_5 =	document.getElementById('star-5')
		
	
		let value = 0; // Valor inicial do rating
		const ratingValue = document.getElementById('rating-value');
		const inputValue = document.getElementById('inputStar');

		// Adiciona evento de clique para cada estrela
		star_1.addEventListener('click', function(){
			star_1.classList.add('active');
			star_2.classList.remove('active');
			star_3.classList.remove('active');
			star_4.classList.remove('active');
			star_5.classList.remove('active');
			value= 1
			inputValue.value = value;

		})
		star_2.addEventListener('click', function(){ 
			star_2.classList.add('active');
			star_3.classList.remove('active');
			star_4.classList.remove('active');
			star_5.classList.remove('active');
			value = 2
			inputValue.value = value;


		})
		star_3.addEventListener('click', function(){ 
			star_3.classList.add('active');
			star_4.classList.remove('active');
			star_5.classList.remove('active');
			value = 3
			inputValue.value = value;

		})
		star_4.addEventListener('click', function(){ 
			star_4.classList.add('active');
			star_5.classList.remove('active');
			value = 4
			inputValue.value = value;

		})
		star_5.addEventListener('click', function(){
			star_5.classList.add('active');
			value = 5
		inputValue.value = value;



		})
	
	
					// Atualiza o valor exibido e o campo oculto
	
	
</script>
{% include "index/footer.html" %}
		{% endblock  %}

	
